// .mat-stepper-horizontal {
//   margin-top: 8px;
// }

// .mat-mdc-form-field {
//   margin-top: 16px;
// }

.mat-form-field{
  width: 100%;
}

::ng-deep .mat-step-header {
  display: flex;
  align-items: flex-end;
}

::ng-deep .mat-step-label {
  margin-bottom: 0.5em;
}

.result {
  display: flex;
  justify-content: center;
}
