<div class="grid-container">

  <ion-segment value="{{selectedOption}}" (ionChange)="loadCategory($event)" [(ngModel)]="selectedOption">
        <ion-segment-button *ngFor="let cat of listCategory" [value]="cat.label">
            <ion-label>{{cat.label}}</ion-label>
        </ion-segment-button>
  </ion-segment>
    <div class="droite"  *ngIf="selectedOption == 'A'" >
        <p class="centered">Accès général A</p>
        <mat-divider></mat-divider>
        <p>Chambres, parties de bâtiments, bâtiment où :</p>
        <ul>
           <li>des moyens de couchage sont mis à disposition,</li>
           <li>les déplacements sont limités, </li>
           <li>un nombre incontrôlé de personnes est présent,</li>
           <li>toute personne y a accès sans connaître personnellement les précautions de sécurité nécessaires</li>
        </ul>
        <p>Exemple: Hôpitaux, tribunaux ou prisons, théâtres, supermarchés, écoles, amphithéâtres,
                  terminus de transports en commun, hôtels, logements, restaurants.
        </p>
    </div>

    <div class="gauche"  *ngIf="selectedOption == 'B'">
      <p class="centered">Accès surveillé B</p>
      <mat-divider></mat-divider>
      <p >
        Cependant, si vous avez accès à la page Web elle-même, vous pouvez facilement afficher son code source en utilisant les outils de développement intégrés à la plupart des navigateurs Web modernes. Par exemple, dans Google Chrome, vous pouvez accéder aux outils de développement en appuyant sur F12, en cliquant sur le menu de trois points en haut à droite, puis en sélectionnant "Plus d'outils" > "Outils de développement". Dans la fenêtre qui s'ouvre, vous pouvez cliquer sur l'onglet "Elements" pour afficher le code HTML de la page.
      </p>
    </div>

    <div  *ngIf="selectedOption == 'C'">
      <p class="centered">Accès reservé C</p>
      <mat-divider></mat-divider>
      <p>
        Cependant, si vous avez accès à la page Web elle-même, vous pouvez facilement afficher son code source en utilisant les outils de développement intégrés à la plupart des navigateurs Web modernes. Par exemple, dans Google Chrome, vous pouvez accéder aux outils de développement en appuyant sur F12, en cliquant sur le menu de trois points en haut à droite, puis en sélectionnant "Plus d'outils" > "Outils de développement". Dans la fenêtre qui s'ouvre, vous pouvez cliquer sur l'onglet "Elements" pour afficher le code HTML de la page.
      </p>
    </div>

</div>

